*{margin                              : auto;}
body {
	border-top                        : 5px solid #e56038;
	background                        : #f5f5f5;
	font-family                       : 'Open Sans', sans-serif;
	color                             : #333333;
}
a {
	text-decoration                   : none;
	color                             : inherit;
}

p {
	margin                            : 5px 0;
	line-height                       : 25px;
}
img.logo {
	width                             : 140px;
	height                            : auto;
	float                             : left;
	position                          : relative;
	left                              : -275px;
	top                               : -5px;
}
.search input {
	font-family                       : 'Open Sans' sans-serif;
	font-size                         : 16px;
	padding                           : 7px;
	outline                           : 0;
	border                            : 0;
	width                             : 250px
	background                        : #EBE8DE;
	border-radius                     : 5px;
}
.search input[type                    =submit], .button {
	width                             : auto;
	padding                           : 5px 18px;
	line-height                       : 25px;
	text-shadow                       : none;
	cursor                            : pointer;
	box-shadow                        : none;
	background-color                  : #333333;
	color                             : #fff;
	font-size                         :13px;
}
.form-button{ font-weight             :bold;
-webkit-border-radius                 : 5px; -moz-border-radius: 5px;border-radius: 5px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color                     : #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
 background-image                     : -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image                     : -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image                     : -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image                     : -o-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image                     : linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
line-height                           : 25px;box-shadow: none;height: auto;margin-top: 3px;
}

.form-button                          :hover{ font-weight:bold;font-size:13px;
 background-color                     : #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image                     : -webkit-linear-gradient(top, #646464, #282828);
 background-image                     : -moz-linear-gradient(top, #646464, #282828);
 background-image                     : -ms-linear-gradient(top, #646464, #282828);
 background-image                     : -o-linear-gradient(top, #646464, #282828);
 background-image                     : linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
line-height                           : 25px;box-shadow: none;height: auto;margin-top: 3px;
}
.form-control                         :focus{
	background-color                  : #FFFFCC;
	box-shadow                        : 0 0 3px red;
	
}
.clear {
	clear                             : both;
}
/*HEADER*/
header {
	position                          : relative;
	width                             : auto;
	max-width                         : 900px;
	margin                            : 0 auto 20px auto;
}

header h1 {
	margin                            : 35px 0 0 0;
	font-size                         : 55px;
	color                             : #e56038;
	font-family                       : 'Bausman';
}
header p {
	font-family                       : 'Open Sans', sans-serif;
	font-size                         : 16px
	color                             : #4A463b;
	margin-left                       : 5px;
}


nav {
	position                          : absolute;
	margin                            : 30px 20px;
	top                               : 0px;
	right                             : -300px;
	border-bottom                     : 2px solid #e56038;
}
nav>ul>li{
	display                           : inline-block;
	position                          :relative;
}
nav>ul>li>a{
	text-decoration                   :none;
	font-variant                      :small-caps;
	font-family                       : Montserrat,sans-serif;
	font-size                         :larger;
	font-weight                       : 700;
	color                             :#162441;
	padding                           :0 10px;
	line-height                       :30px;
	display                           :block;
	text-shadow                       : 1px 1px 5px #cc0000;
}
nav>ul{
	padding                           :0px;
	margin                            :0px;
	list-style                        :none;
	text-align                        :center;
}
nav>ul>li>a                           :hover{
	color                             :pink;
}
nav ul ul{
	padding                           :0px;
	margin                            :0px;
	list-style                        :none;
	border-radius                     :3px;
	width                             :200px;
	background-color                  :white;
	box-shadow                        :0 0 1px gray;
	position                          :absolute;
	display                           :none;
}
nav ul ul a{
	display                           :block;
	line-height                       :30px;
	color                             :grey;
	text-decoration                   :none;
	font-variant                      :small-caps;
	font-size                         :larger;
	padding                           :0 10px;
}
nav>ul>li                             :hover>ul{
	display                           :block;
	z-index                           : 1;
}
nav ul ul a                           :hover{
	background-color                  :white;
	color                             :orange;
	z-index                           : 1;
}

/*SLIDESHOW*/
.container {
	width                             : auto;
	margin                            : 0 auto;
	margin-top                        : 30px;
	position                          : relative;
}
#slider_content {
	line-height                       : 25px;
	font-family                       : 'Open Sans', sans-serif;
	opacity                           : 0.6;
	width                             : 350px;
	position                          : absolute;
	top                               : 15%;
	left                              : 15%;
	z-index                           : 11;
}
#slider_content h3 {
	color                             : #EBE8DE;
	font-size                         : 25px;
	font-weight                       : bold;
	margin-bottom                     : 10px;
	background-color                  : #333333;
	padding                           : 10px 15px;
	border-radius                     : 15px 0 15px 0;
	display                           : inline-block;
}
#slider_content p {
	margin                            : 0 0 30px 0;
	color                             : #4A463b;
	background-color                  : #EBE8DE;
	padding                           : 10px 15px;
	border-radius                     : 5px;
} 
div#slider {
	overflow                          : hidden;
}
div#slider figure {
	position                          : relative;
	width                             : 500%;
	margin                            : 0;
	left                              : 0;
	text-align                        : left;
	font-size                         : 0;
	animation                         : 20s slidy infinite;
}
div#slider figure img {
	width                             : 20%;
	float                             : left;
}
@keyframes slidy {
	0% {
		left                          : 0%;
	}
	10% {
		left                          : 0%;
	}
	15% {
		left                          : -100%;
	}
	40% {
		left                          : -100%;
	}
	50% {
		left                          : -200%;
	}
	70% {
		left                          : -200%;
	}
	75% {
		left                          : -300%;
	}
	95% {
		left                          : -300%;
	}
	100% {
		left                          : -400%;
	}
}

/*SPACER*/
#spacer {
	width                             : auto;
	height                            : 70px;
	background-color                  : #e56038;
	position                          : relative;
	font-family                       : 'Open Sans', sans-serif;
	color                             : #fff;
	font-size                         : 18px;
}
#spacer p {
	margin-top                        : 22px;
	width                             : auto;
	position                          : absolute;
	left                              : 50%;
	margin-left                       : -450px;
}
#spacer .search {
	margin-top                        : 15px;
	width                             : auto;
	position                          : absolute;
	right                             : 50%;
	margin-right                      : -480px;
}

/*3 COLUMNS*/
#three-columns {
	width                             : auto;
	max-width                         : 900px;
	margin                            : 0 auto;
	padding                           : 70px 0 45px 0;
}
#three-columns article {
	float                             : left;
	width                             : 250px;
	margin-right                      : 45px;
	font-size                         : 14px;
}
#three-columns article h3 {
	font-family                       : 'Open Sans', sans-serif;
	font-size                         : 20px;
	margin-bottom                     : 10px;
	margin-left                       : 75px;
}
#three-columns article img {
	float                             : left;
	width                             : 70px;
	height                            : auto;
}
#three-columns article p {
	line-height                       : 25px;
	font-family                       : 'Open Sans', sans-serif;
	margin-left                       : 75px;
}

/* 4 COLUMNS */
figcaption {
	line-height                       : 25px;
	font-size                         : 14px;
	width                             : 300px;
}
figcaption strong {
	border-bottom                     : 1px solid #D6D0C1;
	padding-bottom                    : 10px;
	margin                            : 10px 0;
	display                           : block;
	font-size                         : 20px;
	font-weight                       : 900;
	font-family                       : Hind,sans-serif;
}
.img-item {
	position                          : relative;
}
.price {
	position                          : absolute;
	right                             : 0px;
	bottom                            : 0px;
	padding-bottom                    : 10px;
	padding-left                      : 10px;
	margin                            : 10px 0;
	display                           : block;
}
.img-item figure img {
	max-width                         : 300px;
	position                          : relative;
    display                           : inline-block;
}

/* Cart */
.dropup-content {
    display                           : none;
    position                          : absolute;
    background-color                  : #162441;
    min-width                         : 100%;
    bottom                            :62px;
    box-shadow                        : 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index                           : 1;

    animation-name                    : chaylen;
    animation-duration                : 0.4s;    
    animation-fill-mode               : forwards;
}

@keyframes chaylen {
    from {bottom                      : 40px;}
    to {bottom                        : 62px;}

}

/* Links inside */
.dropup-content a {
	font-family                       : Montserrat, sans-serif;
	font-size                         : 12px;
	font-weight                       : bold;
	letter-spacing                    : 2px;
    color                             : white;
    padding                           : 12px 16px;
    text-decoration                   : none;
    display                           : block;
    text-align                        : center;
}

.dropup-content a                     :hover {background-color: #1C3467}

.cart                                 :hover .dropup-content {
    display                           : block;
}

#four-columns{
	line-height                       : 25px;
	font-family                       : 'Open Sans', sans-serif;
	clear                             : both;
	width                             : auto;
	max-width                         : 1300px;
	margin                            : 0 auto;
}
#four-columns h2{
	font-size                         : 20px;
	border-bottom                     : 1px solid #D6D0C1;
	padding                           : 20px 0;
	margin-bottom                     : 20px;
}
#four-columns .img-item {
	float                             : left;
	margin-right                      : 25px;
	margin-bottom                     : 25px;
}
#four-columns .img-item a {
	position                          : relative;
	display                           : block;
}
.more a {
	position                          : relative;
	left                              : 1180px;
	top                               :-15px;
	color                             : orange;
	font-family                       : Montserrat, sans-serif;
	font-weight                       : bold;
	font-size                         : 14px;
}

/* /////////////////////////FOOTER/////////////////////////// */
footer {
	position                          : relative;
	bottom                            : -50px;
	clear                             : both;
	width                             : auto;
	height                            : 350px;
	background                        : #333333;
}
#extra_content {
	line-height                       : 25px;
	margin                            : 0 auto;
	padding-top                       : 50px;
	width                             : auto;
	max-width                         : 1110px;
	font-size                         : 14px;
}
#extra_content .column {
	font-family                       : 'Open Sans', sans-serif;
	color                             : #ababab;
	float                             : left;
	width                             : 280px;
	margin-right                      : 90px;
}
#extra_content .column h4 {
	font-size                         : 16px;
	color                             : #fff;
	border-bottom                     : 1px solid #444444;
	padding                           : 0 0 10px 0;
	margin-top                        : 10px;
	margin-bottom                     : 10px;
}

#extra_content .column.midlist ul li {
	width                             : auto;
	padding                           : 0 0 10px 5px;
	margin-bottom                     : 10px;
	border-bottom                     : 1px solid #444444;
}
#extra_content .column.midlist ul li a {
	font-size                         : 14px;
}
#extra_content .column.midlist ul li a:hover {
	color                             : #fff;
}

#extra_content .column.right .img {
	width                             : 50px;
	height                            : 50px;
	padding                           : 5px 3px 12px 5px;
	float                             : left;
}

#extra_content .column.right .txtnewsletter {
	font-family                       : 'Open Sans' sans-serif;
	font-size                         : 16px;
	margin-left                       : 5px;
	padding                           : 7px;
	outline                           : 0;
	border                            : 0;
	width                             : 250px
	background                        : #EBE8DE;
}
#extra_content .column.right .submitcontrol {
	width                             : 33px;
	height                            : 33px;
	line-height                       : 25px;
	text-shadow                       : none;
	cursor                            : pointer;
	box-shadow                        : none;
	background-color                  : #333333;
	color                             : #fff;
}

/* //////////////////Product Detail/////////////////// */
.top {
	width                             : 100%;
	height                            : 170px;
	background                        : url(img/title-img.jpg);
	background-color                  : #121E2E;
	margin-bottom                     : 50px;
}
.top h1 {
	padding-left                      : 40px;
	padding-top                       : 35px;
	font-size                         : 60px;
	color                             : white;
	font-weight                       : 800;
	font-family                       : Montserrat, sans-serif;
}
#detailsp {
	position                          : relative;
	top                               : 45px;
}

#detailsp img.anhsp {
	width                             : 650px;
	height                            : auto;
}
#detailsp .img {
	position                          : relative;
	left                              : 150px;
	float                             : left;
	margin-bottom                     : 120px;
}

#detailsp .info {
	position                          : relative;
	right                             : 170px;
	float                             : right;
	width                             : 35%;
}
.info h1 {
	font-family                       : Montserrat, sans-serif;
	line-height                       : 29px;
	font-size                         : 40px;
	font-weight                       : 800;
	padding-bottom                    : 10px;
	color                             : #162441;
	margin-bottom                     : 10px;
}
.info h2 {
	font-family                       : Montserrat, sans-serif;
	line-height                       : 29px;
	font-size                         : 35px;
	font-weight                       : 800;
	padding-bottom                    : 10px;
	color                             : #e7cdc7;
}
#detailsp button {
	font-family                       : Montserrat, sans-serif;
	font-weight                       : bold;
	text-transform                    : uppercase;
	width                             : 135px;
	height                            : 40px;
	background-color                  : green;
	border                            : none;
	margin-left                       : 10px;
	display                           : inline-block;

}
#detailsp button                      :hover {
    background-color                  : #3e8e41;
}
#detailsp input[type                  ="text"] {
	margin-left                       : 5px;
	padding-right                     : 3px;
	text-align                        : center;
	width                             : 34px;
	height                            : 34px;
}
.Info1 h2 {
	font-family                       : Montserrat, sans-serif;
	font-weight                       : 800;
	font-size                         : 22px;
	color                             : #162441;
}
.Info1 span, a {
	font-size                         : 18px;
	color                             : #aaaaaa;
}
.Info1 a                              :hover {
	color                             : #1c3467
}
.Info1 strong {
	font-size                         : 18px;
	color                             : #162441;
	line-height                       : 40px;
}

.Info1 .share {
	display                           : inline-block;
	position                          : relative;
	top                               :8px;
}
.Info1 ul.share-buttons{
  list-style                          : none;
  padding                             : 0;
}

.Info1 ul.share-buttons li{
  display                             : inline;
}

.Info1 ul.share-buttons .sr-only{
  position                            : absolute;
  clip                                : rect(1px 1px 1px 1px);
  clip                                : rect(1px, 1px, 1px, 1px);
  padding                             : 0;
  border                              : 0;
  height                              : 1px;
  width                               : 1px;
  overflow                            : hidden;
}
p.des {
	color                             : #FF3399;
	font-size                         : 12px;
	border-bottom                     : 1px solid #FF3399;
}

/* ///////////////// List ////////////////////////////////// */
.containerp {
  width                               : 500px;
  margin                              : auto;
  text-align                          : right;
}
.pagination {
  width                               : 400px;
  margin-left                         : 50px;
}
.pagination a {
  display                             : block;
  color                               : black;
  float                               : left;
  padding                             : 8px 16px;
  text-decoration                     : none;
  transition                          : background-color .3s;
}
 
.pagination a.active {
    background-color                  : orange;
    color                             : white;
}
 
.pagination a                         :hover:not(.active) {
  background-color                    : #ddd;
}